<!DOCTYPE html>
{% load static %}
<html lang = "en" dir = "ltr">
  <head>
    <meta charset="utf-8">
    <title>NetDeals</title>
    <meta name = "viewport" content = "width=device-width, intitial-scale = 1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="https://kit.fontawesome.com/40c2d6aab9.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav>
      <label class = "logo">NetDeals</label>
      <ul>
        <li><a href="cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
        <li><a href=""><i class = "far fa-user"></i></a></li>
      </ul>
    </nav>
  </body>
</html>