{% extends 'core/base.html' %}

{% block title %}Become Buyer {% endblock title %}

{% block content %}

    <h1 class="title">Become Buyer</h1>

    <form method="post" action="" id="become_buyer">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        
        <div class="field">
            <div class="control">
                <button class="button is-dark is-uppercase">Sign Up</button>
            </div>
        </div>
    </form>
{% endblock content %}