{% extends 'core/base.html' %}

{% block title %}Seller Dashboard{% endblock title %}

{% block content %}

    <h1 class="title">Dashboard<span class="is-capitalized">{{sellerprofile.name}}</span></h1>

    <div class="mb-5">
        <strong>My Balance: </strong> ${{seller.get_balance}} <br>
        <!-- <strong>My Paid Amount: </strong> ${{sellerprofile.get_paid_amount}}  -->
    </div>

    <div class="box">
    
        <h2 class="is-size-3 mb-4">My Products</h2>

        <a href="{% url 'seller:add-product' %}" class="button is-dark is-uppercase mb-6">Add Product</a>

        {% if products %}
        
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>S.N.</th>
                        <th>Title</th>
                        <th>Price</th>
                    </tr>
                </thead>

                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'product:product' product.category.slug product.slug %}">{{ product.title }}</a></td>
                            <td>${{ product.price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>

        {% else %}
            <p class="has-text-danger">Products not added yet.</p>
        {% endif %}
    
    </div>

    <div class="box">
        <h2 class="is-size-3 mb-4">Customer Orders</h2>
        {% if sold_items %}
                
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>First Name</th>
                    <th>Order Number</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for item in sold_items %}
                    <tr>
                        <td>{{ item.product.title }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.order.first_name }}</td>
                        <td>{{ item.order.id }}</td>
                        <td>
                            <div class="button-container">
                              <button class="button is-dark is-uppercase is-small more-info-btn" data-detail-id="detail-{{ item.id }}" id="more-info-{{ item.id }}">More Info</button>
                            </div>
                          </td>                    
                    </tr>

                    <tr class="hidden" id="detail-{{ item.id }}">
                        <td colspan="2">
                            <strong>Address:</strong> {{ item.order.address }}<br>
                            <strong>Phone:</strong> {{ item.order.phone }}<br>
                            <strong>Zipcode:</strong> {{ item.order.zipcode }}<br>
                            <strong>Email:</strong> {{ item.order.email }}<br>
                        </td>
                        <td colspan="2">
                            <strong>First Name:</strong> {{ item.order.address }}<br>
                            <strong>Last Name:</strong> {{ item.order.phone }}<br>
                            <strong>Date Placed:</strong> {{ item.order.created_at }}<br>
                            <strong>Paid Amount:</strong> {{ item.order.paid_amount }}<br>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <p class="has-text-danger">nothing sold yet</p>
        {% endif %}
    
    </div>

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const moreInfoButtons = document.querySelectorAll('.more-info-btn');
            moreInfoButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    const detailId = this.getAttribute('data-detail-id');
                    const detailRow = document.getElementById(detailId);
                    if (detailRow.classList.contains('hidden')) {
                        detailRow.classList.remove('hidden');
                    } else {
                        detailRow.classList.add('hidden');
                    }
                });
            });
        });
    </script>



{% endblock content %}

