{% extends 'core/base.html' %}

{% block title %}Order History{% endblock title %}

{% block content %}

    <h1 class="title">Order History </h1>

    <div class="box">
        <h2 class="is-size-3 mb-4">My Orders</h2>

        {% if orders %}
            {% for order in orders %}
                <div class="{% if order.fully_paid %}has-background-success-light{% else %}has-background-info-light{% endif %} mb-2 p-4">
                    <div class="columns is-multiline">
                        <div class="column is-6">
                            <h3 class="is-size-4">#{{ order.id }}</h3>
                        </div>
    
                        <div class="column is-12">
                            <b>Name:</b> {{ order.first_name }} {{ order.last_name }}<br>
                            <b>Address:</b> {{ order.address }}<br>
                            <b>E-mail:</b> {{ order.email }}<br>
                            <b>Phone:</b> {{ order.phone }} <br>
                            <b>Date:</b> {{ order.created_at }}
                            <table class="table is-fullwidth mt-4">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    {% for item in order.filtered_items %}
                                    <tr>
                                        <td><a href="{% url 'product:product' item.product.category.slug item.product.slug %}">{{ item.product.title }}</a></td>
                                        <td>${{ item.product.price }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>${{ item.get_total_price }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>

{% endblock content %}