{% extends 'core/base.html' %}

{% block title %}Order History{% endblock title %}

{% block content %}

    <h1 class="title">Order History </h1>

    <div class="box">
        <h2 class="is-size-3 mb-4">My Orders</h2>

        {% if orders %}
            {% for order in orders %}
                <div class="{% if order.fully_paid %}has-background-success-light{% else %}has-background-info-light{% endif %} mb-2 p-4">
                    <div class="columns is-multiline">
                        <div class="column is-6">
                            <h3 class="is-size-4">#{{ order.id }}</h3>
                        </div>
    
                        <div class="column is-12">
                            <b>Name:</b> {{ order.first_name }} {{ order.last_name }}<br>
                            <b>Address:</b> {{ order.address }}<br>
                            <b>E-mail:</b> {{ order.email }}<br>
                            <b>Phone:</b> {{ order.phone }} <br>
                            <b>Date:</b> {{ order.created_at }}
                            <table class="table is-fullwidth mt-4">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Return</th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    {% for item in order.filtered_items %}
    <tr>
        <td>
            {% if item.product %}
                <a href="{% url 'product:product' item.product.category.slug item.product.slug %}">
            {% endif %}
            {{ item.get_item_title }}
            {% if item.product %}
                </a>
            {% endif %}
        </td>
        <td>${{ item.get_item_price }}</td>
        <td>{{ item.quantity }}</td>
        <td>${{ item.get_total_price }}</td>
        {% if item.return_status %}
            <td>
                <p>Pending</p>
            </td>
        {% else %}
            <td>
                <script>
                    //Global variable to set the item id
                    var productID = "{{ item.product_id }}";
                    var orderId = 0;
                </script>
                <div><button class="button is-small is-danger delete-product" data-order-id="{{ order.id }}" data-date="{{ order.created_at }}">Return</button></div>
            </td>
        {% endif %}
    </tr>
{% endfor %}
                                </tbody>
                            </table>
                             <!--Copy and pasted from seller dashboard-->
                             <div id="delete-confirmation-modal" class="modal">
                                <div class="modal-background"></div>
                                <div class="modal-content">
                                    <div class="box">
                                        <h3 class="title">Return Product</h3>
                                        <p>Are you sure you want to return this product?</p>
                                        <br>
                                        <p>Product can't be returned after 14 days.</p>
                                        <br>
                                        <br>
                                        <div class="buttons">
                                            <button id="delete-confirm" class="button is-danger">Yes</button>
                                            <button id="delete-cancel" class="button is-light">No</button>
                                        </div>
                                    </div>
                                </div>
                                <button class="modal-close is-large" aria-label="close"></button>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>

    <script>
        document.querySelectorAll('.delete-product').forEach(button => {
           button.addEventListener('click', function() {
           var orderId = this.dataset.orderId;
           const time = this.dataset.date;
           var newtime = time.split(", ")
           //Removed time due to formating issues, will calculate time based on 12:00am
           var newtime = new Date(`${newtime[0]} ${newtime[1]}`)
           
           const deleteModal = document.getElementById('delete-confirmation-modal');
           const deleteConfirm = document.getElementById('delete-confirm');
           const deleteCancel = document.getElementById('delete-cancel');
           const modalClose = deleteModal.querySelector('.modal-close');
           //Calculates the time for returning the order
           var currentdate = new Date();
           var difference = currentdate.getTime() - newtime.getTime();
           var hoursmili = 1000 * 60 * 60 * 336;
           var result = Math.abs(difference) < hoursmili;
           console.log(Math.abs(difference), result, hoursmili);
           
           // Show the modal
           deleteModal.classList.add('is-active');

           deleteConfirm.onclick = async () => {
               // Remove the event listener to prevent multiple calls
               deleteConfirm.onclick = null; 

               if (result == true){
               try {

                    const response = await fetch(`/order/buyer_return_status/${orderId}/${productID}/return/`, {
        
                   });

                   if (response.ok) {
                       // Remove the row from the table.
                       //const row = button.closest('tr');
                       //row.parentNode.removeChild(row);
                       alert('Return successful');
                   } else {
                       // Show an error message if the response is not OK.
                       alert('Error returning order. Please try again.');
                   }
               } catch (error) {
                   // Show an error message if there's a problem with the request.
                   alert('Error returning order. Please try again.');
               }

               // Hide the modal
               deleteModal.classList.remove('is-active');
               location.reload();
           }
           else {
               alert('Error returning item, 14 days have been passed')
           }
           deleteModal.classList.remove('is-active');
           };

           const closeModal = () => {
               deleteModal.classList.remove('is-active');
               deleteCancel.removeEventListener('click', closeModal);
               modalClose.removeEventListener('click', closeModal);
           };

           deleteCancel.addEventListener('click', closeModal);
           modalClose.addEventListener('click', closeModal);
       });
   });

   </script>

{% endblock content %}