{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{product.title}}{% endblock title %}

{% block content %}
    <div class="columns shadowed-background">
        {% if product.image %}
            <div class="column is-half">
                <figure class="image mb-6">
                    <img class="rounded-image" src="{{product.image.url}}" alt="{{product.title}}">
                </figure>
            </div>
        {% endif %}
        <div class="column">
            <h1 class="title">{{product.title}}, ${{product.price}}</h1>

            <p class="mb-6">
                <span class="tag is-dark">{{ product.seller.name }}</span>
            </p>

            <p>{{product.description}}</p>

            <br>

            <header class="section-heading">
                <h1 class="label">Customer Reviews</h1>
                <div class="rating-star">
                    <span>
                        <i class="fa fa-star {% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                <span><br>{{ product.countReview }} reviews</span>
                        </span>
                </div>
            
            </header>

            <hr>

            {% if messages %}
                {% for message in messages %}
                    <div class="notification is-success is-toast">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <!-- button for compare listing -->
            <button type="button" class="button is-primary" onclick="compareProduct({{ product.pk }})">Compare</button>
            <br>
            <br>

            <form method="post" action="">
                {% csrf_token %}
                <div class="field has-addons">
                    <div class="control">
                        <input type="number" name="quantity" value="1" class="input" min="1" id="">
                    </div>

                    <div class="control">
                        <button class="button is-dark is-uppercase">Add to Cart</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <style>
        .rounded-image {
        border-radius: 1rem;
        }

        .shadowed-background {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        padding: 2rem;
        background-color: #ffffff;
        }
    </style>


        <br>
        

    {% if similar_products %}
        <hr>

        <div class="columns is-multiline">
            <div class="column is-12">
                <h2 class="subtitle">Similar Products</h2>
            </div>

            {% for product in similar_products %}
                {% include 'product/parts/list_item.html' %}
            {% endfor %}
        </div>
    {% endif %}

    <br>
{% endblock content %}