<div class="box">
    <h2 class="title">Report Product</h2>
    <br>
    <form method="post" action="{% url 'product:report_product' product.id %}">

        {% csrf_token %}
        <h1><strong>Reason: </strong></h1>
        {{ report_form.reason }}
        <button type="submit" class="button is-danger">Submit Report</button>
        <button type="button" class="button" onclick="closeReportModal()">Cancel</button>
    </form>
    <style>
         #id_reason{
            width: 100%;
            padding: 8px 5px;
            margin: 4px 0;
            box-sizing: border-box;
            }
        .title{
            text-align: center;
        }
    </style>
</div>