{% extends 'core/base.html' %}

<!-- templates/registration/password_reset_form.html -->

{% block title %}Email Sent{% endblock %}

{% block content %}
  <h1>Check your inbox.</h1>
  <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
{% endblock %}

<!----

    <form method="post" action="">
        {% csrf_token %}

        {{ form.as_p }}
        
        <div class="field">
            <div class="control">
                <button class="button is-dark is-uppercase">Submit</button>
            </div>
        </div>
    </form>
--->
{% endblock content %}